<html ng-app="toasterTest">
<head>
    <title>Toaster demo</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <link rel="stylesheet" href="build/toaster.min.css">
</head>
<body>
<div ng-controller="toasterController">

    <div class="container">
        <h3>Examples</h3>
        <div class="btn-group-vertical">
            <button class="btn btn-warning" ng-click="example_1()">Example 1</button>
            <button class="btn btn-success" ng-click="example_2()">Example 2</button>
            <button class="btn btn-danger" ng-click="example_3()">Example 3</button>
            <button class="btn btn-primary" ng-click="example_4()">Example 3</button>
        </div>
    </div>

</div>
<script type="text/ng-template" id="custom_template.html">
    <div class="toast custom-template">
        <h3>{{Title}}</h3>
        <div class="message" ng-bind-html="message"></div>
        <div class="message">
            <ul>
                <li ng-repeat="item in items">{{item}}</li>
            </ul>
        </div>
        <div class="message">
            <a class="btn btn-small btn-primary close-notification" ng-click="Click()">Click me</a>
        </div>
    </div>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js"></script>
<script src="build/toaster.min.js"></script>
<script type="text/javascript">
    angular.module('toasterTest', ['toaster']);
    angular.module('toasterTest')
            .controller('toasterController', function ($scope, toaster) {
                $scope.example_1 = function () {
                    toaster("message text")
                };
                $scope.example_2 = function () {
                    toaster.show({message: 'message text', type: 'success', delay: 5000, corner: 'leftTop'});
                };
                $scope.example_3 = function () {
                    toaster.show({message: '<b>toast message with html</b>', type: 'error', title: '<i>Html</i> '});
                };
                $scope.Title = "Title from other scope";
                $scope.Click = function () {
                    alert("click");
                };
                $scope.items = ['one', 'two', 'three'];
                $scope.example_4 = function () {
                    toaster.show({
                        message: "text message",
                        templateUrl: "custom_template.html",
                        corner: 'rightBottom',
                        type: 'info',
                        scope: $scope
                    });
                };
            });
</script>
</body>
</html>